body
{
	background: linear-gradient( #9b02fa 0%, #c0fa02 70%, #fa7a02 30%);
}

	.login_div1 , .login_div2
	{
		background: linear-gradient(#fa0702 0%, #f5f55b 100%);
		padding: 10px;
		float: none;
		border-radius: 15px;
        text-align: center;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
h1{
color:darkturquoise;
}


